*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
}
body{
  background-color: #FFEDDC;
}
.logo{
  width: 60px;
}
header{
  background-color: #1C120A;
}
ul{
  border: 1px solid black;
  background-color: #D7AE8D;

}
li{
 list-style-type: none;
 padding: 5px;
 text-align: center;
 font-weight: bold;

}
.menu{
  width: 30px;
}
h1{
  font-family: 'Playfair Display SC', serif;
  font-size: 25px;
  text-align: center;
  color: white;
}
h2{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #FFF8F2;
  padding: 5px;
  text-align: center;
}
.producto{
background-color: white;
width: 80%;
margin: 10px auto 0 auto;
}
.producto img{
  width: 100%;
}
main{
  margin-top: 10px;
}
.logoymenu{
  position: relative;
  padding: 20px 20px;
}
.logo{
  position: absolute;
  left: 0;
  top: 5px;
}
.menu{
  position: absolute;
  right: 16px;
  bottom: 22px;
}
.saraso{
  font-weight: bold;
}
@media (min-width: 768px){
  main{
    margin-left: 10px;
    margin-right: 10px;
  }
  .producto{
    width: 50%;
    float: none;
    height: 300px;
    border: 1px solid black;
    text-align: center;
  }
  .producto img{
    width: auto;
    height: 100%;
  }
}
@media (min-width: 960px){
.menu{
  display: none;
}
ul{
  border: 1px solid black;
  padding-left: 10px;
  display: flex;
  justify-content: space-evenly;
}
li{
  display: inline-block;
  border: none;

}
.producto{
  width: 95%;
  }

h1{
  font-size: 30px;
  }
}
